<link rel="stylesheet" href="/css/admin.css" />
<div class="admin__ui">
    <section id ="admin__menu">
        <div class="logo">
            <h2 class="mt-3 mx-4">Admin</h2>
            <img src="https://lh3.googleusercontent.com/pw/AMWts8BXl3qx1_Jqn6XpAFnn9fFCy5g10ZFPdpeZATupUm_JCDW7kblnoZ5Y8pZx6rYPdkCGfQ52PSh1lH9gX8hZht-QAbPO6Vcjed1nQ9e6OAFtuCnCDrdC2mqHx4fkETmI4h0aHJQWBfnN-YzG8ITo4LUd=w893-h893-s-no?authuser=0" alt="">     
        </div>
        <div class="item">
            <li><i class="fa-solid fa-chart-pie"></i><a href="#">Bảng điều khiển</a></li>
            <li><i class="fa-solid fa-users"></i><a href="#">Người dùng</a></li>
            <li><i class="fa-solid fa-blog"></i><a href="#">Bài viết</a></li>
            <li><i class="fa-solid fa-bookmark"></i><a href="#">Trang</a></li>
            <li><i class="fa-solid fa-compact-disc"></i><a href="#">Đa phương tiện</a></li>
            <li><i class="fa-solid fa-chart-simple"></i><a href="#">Thống kê</a></li>
            <li><i class="fa-solid fa-gear"></i><a href="#">Cài đặt</a></li>
            <li><i class="fa-solid fa-screwdriver-wrench"></i><a href="#">Công cụ</a></li>
        </div>
    </section>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="admin__menu-btn"></i>
                </div>
                <div class="lookfor">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Tìm kiếm">
                </div>
            </div>
            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <img src="https://lh3.googleusercontent.com/pw/AMWts8D6i2dDwtyJiOGMnfi4lXlErAmI_OrVzu1sXvbwk3vJcR56TlNBcaQbrS0LzORyTHisDYX3SyVN55ZTgH89VYIuzsto-k2J1vA8NDIhIKw0TCSHJ-EQ6ln2kXWfeXr6xVxwUDiWo6PI4tjwdbZ3XzO4=w820-h820-s-no?authuser=0" alt="">
                <a href="/home"><i class="fa-solid fa-arrow-right mx-3"></i></a>
            </div>
        </div>
        <h3 class="i-name">
            Bảng điều khiển
        </h3>
        <div class="values">
            <div class="val-box">
                <i class="fa-solid fa-users"></i>
                <div>
                    <h3>100</h3>
                    <span>Người dùng mới</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-cart-shopping"></i>
                <div>
                    <h3>8,934</h3>
                    <span>Lượng đặt hàng</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-dollar-sign"></i>
                <div>
                    <h3>8,934,000$</h3>
                    <span>Doanh thu</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-comments-dollar"></i>
                <div>
                    <h3>7,985$</h3>
                    <span>Chi phí</span>
                </div>
            </div>
        </div>

        <div class="board"> 
            <table width="100%">
                <thead>
                    <tr>
                        <td>Tên</td>
                        <td>Người dùng</td>
                        <td>Trạng thái</td>
                        <td>Vai trò</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="people">
                            <img src="https://lh3.googleusercontent.com/pw/AMWts8BCSEHL7z3IgdrzTL327ap3nE-ITFiXdH-gglgHWpK6b832IeGF7sRCH7sUHQUKHdSQQToiZAtzHANifiw6GmpZREV9_areQZQoBu7CNIfhVgpUuaInKpty2DsP_SqU1Fd4s05VX_qY5s4wn_xBQiVp=w825-h820-s-no?authuser=0" alt="people">
                            <div class="people-de">
                                <h5>Đạt Trần</h5>
                                <p>Email: dattran@gmai.com</p>
                            </div>
                        </td>
                        <td class="people-des">                           
                            <h5>Fouder</h5>
                            <p>Non</p>                         
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>Admin</p>
                        </td>
                        <td class="edit"><a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="https://lh3.googleusercontent.com/pw/AMWts8C8XF1hrrR71jMyPhP2SsCXQ1lhuwQwcDRxFfSt-KW0-6Bq7KraplX5OVyMiZLRMHgSjAWWwzGFG8z2jVBHy7Vt3G10LhXhVx2s5_oyiVzkzSrIPfWNoa0CVnVNsXmcYy0xcw6EWmkZXoqVM37hWZYa=w564-h564-s-no?authuser=0" alt="people">
                            <div class="people-de">
                                <h5>Ely Tran</h5>
                                <p>Email: elyne@gmai.com</p>
                            </div>
                        </td>
                        <td class="people-des">                           
                            <h5>Khách hàng</h5>
                            <p>Tiềm năng</p>                         
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>User</p>
                        </td>
                        <td class="edit"><a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="https://lh3.googleusercontent.com/pw/AMWts8BPcztvR-4iCh2ITmrrssIjRcJJ4r-1olo7UbU2UPDDFPxNSeea61fgfhVwU26-WxhV6AhYeRZQ22HiP7iHBQCU4yklZ_0g5gk5MPwN9z6iSmqELvI-2O22zlwUwNMj63nCy5xXAH4qkJg_rScy1WEd=w680-h680-s-no?authuser=0" alt="people">
                            <div class="people-de">
                                <h5>Cung La Beck</h5>
                                <p>Email: cunglabek@gmai.com</p>
                            </div>
                        </td>
                        <td class="people-des">                           
                            <h5>Khach hang</h5>
                            <p>Bình thường</p>                         
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>User</p>
                        </td>
                        <td class="edit"><a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="https://lh3.googleusercontent.com/pw/AMWts8BV1-6N6lRAXq-9f4kyNfl-SiLBR0BJ11dZr1qH0HpqaRbX3mNgPBKSrKcfJG_FyZB5kW856ojka9LPWFukc4mcmqQg32snoCSEY7-PcwIJwKSBYZLdvF47SbPYJgLpwXF8sYmpok77vXIR8I-I20O8=w470-h423-s-no?authuser=0" alt="people">
                            <div class="people-de">
                                <h5>David Beck</h5>
                                <p>Email: becknexttop@gmai.com</p>
                            </div>
                        </td>
                        <td class="people-des">                           
                            <h5>Khách hàng</h5>
                            <p>Tiềm năng</p>                         
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>User</p>
                        </td>
                        <td class="edit"><a href="#">Sửa</a></td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="https://lh3.googleusercontent.com/pw/AMWts8BdjvyJeS5AUSxxC-k8lSbQzkfVKMuqb6pZu3qhY4HuI0OaBKR9UuCOKNRAXsPxBJugdbCNyfjdqFknaFVPH1ueLg3UB3SAZKjbdTGgI5jYvaismG-__VWnDPC_50YsFZTnySVJpoNnvF7rlmxSJAFr=w820-h820-s-no?authuser=0" alt="people">
                            <div class="people-de">
                                <h5>Hiếu Văn</h5>
                                <p>Email: vvvhieu@gmai.com</p>
                            </div>
                        </td>
                        <td class="people-des">                           
                            <h5>Fouder</h5>
                            <p>Dev</p>                         
                        </td>
                        <td class="active"><p>Active</p></td>
                        <td class="role">
                            <p>Admin</p>
                        </td>
                        <td class="edit"><a href="#">Sửa</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>