<link rel="stylesheet" href="/css/product_create.css" />
<div class="create_container mt-4">
  <h3 class="create_title">Tạo sản phẩm mới</h3>
  <form method="POST" action="/products/store" class="create_form" enctype="multipart/form-data" id="create_form">

    <div class="mb-3">
      <label for="name" class="form-label">Tên sản phẩm: </label>
      <input type="text" class="form-control" name="name" id="name" placeholder="VD: Cà phê đá xay mắm tôm" required />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Mô tả sản phẩm</label>

      <textarea class="form-control" name="description" rows="5" id="editor"
        placeholder="VD: Xuất xứ sản phẩm, điểm đặc biệt ở sản phẩm"></textarea>
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Ảnh sản phẩm:</label>
      <input class="form-control" type="file" name="picture" required />
    </div>

    <div class="mb-3">  
      <label for="name" class="form-label">Giá:</label>
      <input type="number" class="form-control" name="price" placeholder="Đơn vị: $" required />
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" value="true" name="isPublished" checked />
      <label class="form-check-label" for="flexCheckChecked">
        Phát hành
      </label>
    </div>

    <button type="submit" class="btn create_btn">Thêm sản phẩm</button>
  </form>
</div>

{{!-- <script>
  $(document).ready(function () {
    $('#create_form').submit(function (e) {
      e.preventDefault(); // Prevent the form from submitting normally

      const formData = new FormData(this); // Create a new FormData object with the form data

      $.ajax({
        url: '/products/store',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
          // Handle successful response from server
          window.location.href = '/admin/stored/products';
        },
        error: function (jqXHR, textStatus, errorThrown) {
          // Handle errors from server
          const errors = jqXHR.responseJSON.errors;
          if (errors) {
            let errorHtml = '<ul>';
            for (const error of errors) {
              errorHtml += `<li>${error.msg}</li>`;
            }
            errorHtml += '</ul>';
            $('#error_message').html(errorHtml);
          } else {
            $('#error_message').html('Lỗi không xác định xảy ra. Vui lòng thử lại sau.');
          }
        }
      });
    });
  });
</script>

<div id="error_message"></div> --}}