<div class="row mt-4">
    <div class="col">
        <div class="card mt-2">
            <a href="/products/{{product.slug}}">
                <img src="{{getImage product.imageId}}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    {{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
            </div>
        </div>
    </div>
    <div class="col">
        something here
    </div>


</div>
