/* h1 {
  color: red;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

a {
  text-decoration: none !important
}

.checkbox-select-all-options {
  max-width: 33.33vw;
  margin: 0 16px
} */

/* @media screen and (min-width: 610px) and (max-width: 1000px) */

:root {
  --primary-1: rgb(236, 196, 36);
  --primary-2: rgba(10, 0, 0, 0.9);
  --primary-3: #8b4513;
  --primary-4: rgb(240, 142, 56);
  --secondary: rgb(245, 238, 230);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.page_body {
  margin-top: 80px;
}

body {
  overflow-x: hidden;
}



/* ============ */
/* ---Button--- */
/* ============ */

/* .btn{
  background-color: var(--primary-1);
  color: var(--primary-2);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 18vh;
}
.btn:hover {
  color: #ffffff;
  background-color: var(--primary-3);
  font-weight: bold;
  transform: scale(0.9);
} */

.btn1 {
  background-color: var(--primary-1);
  color: var(--primary-2);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20vh;
}

.btn1:hover {
  color: #ffffff;
  background-color: var(--primary-3);
  font-weight: bold;
  transform: scale(1.1);
  cursor: pointer;
}

.btn2 {
  background-color: transparent;
  color: var(--primary-1);
  padding: 10px 20px;
  border: 2px solid var(--primary-1);
  border-radius: 5px;
  cursor: pointer;
  width: 20vh;
}

.btn2:hover {
  color: #ffffff;
  background-color: var(--primary-3);
  font-weight: bold;
  border: none;
  transform: scale(1.1);
}

.btn3 {
  width: 100%;
  margin-left: 0;
  margin-top: 1rem;
  background-color: var(--primary-1);
  color: var(--primary-2);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn3:hover {
  color: #ffffff;
  background-color: var(--primary-4);
  font-weight: bold;
  transform: scale(1.1);
}

.btn4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: black;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn4:hover {
  color: #ffffff;
  background-color: rgba(113, 108, 105, 0.174);
  font-weight: bold;
}

.btn5 {
  border: none;
  padding: 15px 30px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  background-color: var(--primary-1);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn5-full::before,
.btn5-full::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.btn5-full::before {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleX(0);
  transform-origin: right;
}

.btn5-full:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.btn5-full::after {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleY(0);
  transform-origin: bottom;
}

.btn5-full:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}

.menu-btn button {
  border: 1px solid var(--primary-1);
  color: var(--primary-1);
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 20vh;
}

.menu-btn button.active {
  background-color: var(--primary-1);
  color: white;
  border: none;
  color: var(--primary-2);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20vh;
}


/* ================ */
/* ---Background--- */
/* ================ */
.bg1 {
  background-color: var(--secondary);
}

.form-control:focus {
  border-color: var(--primary-1);
  box-shadow: 0 0 0 0.25rem rgba(218, 227, 53, 0.613);
}

/* ============ */
/* ---navbar--- */
/* ============ */
.navbar {
  max-height: 80px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
}

.selected {
  background-color: rgba(33, 37, 41, 1);
  width: 50%;
}

/* Thêm CSS cho dropdown */
.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:hover {
  color: var(--primary-1);
}

.dropdown-menu {
  margin-top: 0;
  width: 25vh;
  border: none;
  background-color: rgba(33, 37, 41, 1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: var(--secondary);
  color: var(--primary-1);
}

/* ============ */
/* ---Slider--- */
/* ============ */
.carousel {
  position: relative;
  margin-top: 60px;
}

.carousel-inner {
  max-height: 600px;
}

.carousel-caption {
  position: absolute;
  top: 20%;
  left: 15%;
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .carousel-inner {
    max-height: 450px;
  }
  .carousel-inner h1 {
    font-size: 2.5rem;
  }
  .carousel-caption {
    position: absolute;
    top: 15%;
    left: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-inner {
    max-height: 300px;
  }
  .carousel-inner h1 {
    font-size: 2rem;
  }
  .carousel-caption {
    position: absolute;
    top: 15%;
    left: 20%;
  }

  p {
    display: none;
  }
}

.carousel image {
  width: 100%;
  height: auto;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-inner .carousel-item button {
  margin-bottom: 5rem;
}

.carousel-caption {
  text-align: left;
}

/* =================== */
/* ---Card-Services--- */
/* =================== */
.row content {
  display: flex;
  justify-content: flex-end;
}

.container .card {
  height: 20rem;
}

.container .home__card img {
  border-radius: 100%;
  border: 3px solid var(--primary-1);
  padding: 4px;
}

/* ================== */
/* -------Menu------- */
/* ================== */

.menushop {
  max-height: 600px;
}

.menushop .menushop__coffee {
  height: 600px;
}

.menushop img {
  object-fit: cover;
  height: 600px;
}

/* Thanh cuộn dọc */
.menushop__coffee--content {
  overflow-y: scroll;
  height: 400px;
}

.menushop__coffee--content::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.menushop__coffee--content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 999px;
}

/* ======================= */
/* ---Our Special thing--- */
/* ======================= */

.ourspecial__content__description {
  overflow-y: scroll;
  height: 100px;
}

.ourspecial__content__description::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.ourspecial__content__description::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(241, 220, 196);
}

/* ========================= */
/* ---Banner Coffee Beans--- */
/* ========================= */

.coffee__beans {
  position: relative;
}

.coffee__beans--caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  max-width: 80%;
  text-align: left;
}

.coffee__beans--caption p {
  max-width: 100%;
  color: #ffffff;
}

.coffee__beans img {
  max-height: 400px;
  object-fit: cover;
}

/* ======================= */
/* ------Contact us------- */
/* ======================= */

@media (min-width: 768px) {

  .contact__ui h2{
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .contact__wrapper h2{
    margin-bottom: 50px;
  }
  .contact__form__row {
    display: flex;
    flex-wrap: wrap;
  }
  .contact__form__group .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .contact__form__group {
    margin-bottom: 1rem;
  }

  .contact__form__group:last-child {
    margin-bottom: 0;
  }
  .single-contact-next a{
    text-decoration:none;
    color: var(--primary-2);
  }
  .single-contact-next a:hover{
    text-decoration:none;
    color: var(--primary-3);
  }
}

  @media (max-width: 767px) {
    .contact__ui h2{
      margin-top: 100px;
      margin-bottom: 50px;
    }
    .contact__ui p{
      display: block;
    }
    .contact__wrapper h2{
      margin-bottom: 50px;
    }
    .contact__wrapper__info{
      display:flex;
      justify-content: center;
    }
    .contact__wrapper p{
      display: block;
    }
    .single-contact-next a{
      text-decoration:none;
      color: var(--primary-2);
    }
    .single-contact-next a:hover{
      text-decoration:none;
      color: var(--primary-3);
    }
  }


/* ======================= */
/* --------Footer--------- */
/* ======================= */

footer {
  max-height: 600px;
}

.footer__top,
.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__top {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-2);
  height: 300px;
  padding: 30px;
}

.footer__top img {
  width: 150px;
  border-radius: 100px;
}

.footer__top h5 {
  color: #ffffff;
  margin: 5px;
}

.input-wrapper {
  background-color: black;
  position: relative;
  display: inline-block;
}

input {
  height: 5vh;
  width: 50vh;
  background-color: black;
  padding-right: 60px;
  color: #ffffff;
  border: 1px solid var(--primary-2);
}

.footer__bottom {
  background-color: var(--primary-1);
  color: var(--primary-2);
  height: 50px;
  margin: 0;
}

/* ======================= */
/* ----scrollToTopBtn----- */
/* ======================= */

#scrollToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #a7a0a060;
  color: var(--primary-1);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollToTopBtn:hover {
  background-color: #1e1d1d;
}

/* ======================= */
/* ---------PAGES--------- */
/* ======================= */

.account {
  background-image: url(https://lh3.googleusercontent.com/pw/AMWts8DycaX_3uynN56pCHdiOrQEdRmWdNin7ucqP1aHcEarkcRqMYY8yZBB3PZbA9_4W711c0qUuzR_pK1TsFrGdFNHe2GvONaOp_NysETLEUGWdVEH4U4vQ3AIUXzw3kup05_X_om7UlSVuo5cpczeTItR=w1339-h893-s-no?authuser=0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 70px;
  margin-top: 70px;
}

.login form {
  display: flex;
  flex-direction: column;
}


.login h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login .login__form-group {
  position: relative;
  margin: 10px 0;
  margin: 5px 0;
}

.login .login__form-group input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  border: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  outline: none;
  background: #ffffff76;
}

.login .login__form input:focus {
  box-shadow: 0 0.2rem 0.2rem 0.2rem rgba(218, 227, 53, 0.613);
}

.login .login__form-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  font-size: 16px;
  color: #2d2d08;
  pointer-events: none;
  transition: 0.5s;
}

.login .login__form-group input:focus~label,
.login .login__form-group input:valid~label {
  top: -20px;
  left: 0;
  color: var(--primary-1);
  font-size: 12px;
}

.login .login__form-next {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.login .login__form-next a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.login .login__form-next a:hover {
  color: var(--primary-1);
}

.beans {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  pointer-events: none;
}

.beans .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.beans .set div {
  position: absolute;
  display: block;
}

.beans .set div:nth-child(1) {
  left: 20%;
  animation: animate 20s linear infinite;
}

.beans .set div:nth-child(2) {
  left: 50%;
  animation: animate 14s linear infinite;
}

.beans .set div:nth-child(3) {
  left: 70%;
  animation: animate 12s linear infinite;
}

.beans .set div:nth-child(4) {
  left: 5%;
  animation: animate 15s linear infinite;
}

.beans .set div:nth-child(5) {
  left: 85%;
  animation: animate 18s linear infinite;
}

.beans .set div:nth-child(6) {
  left: 90%;
  animation: animate 12s linear infinite;
}

.beans .set div:nth-child(7) {
  left: 15%;
  animation: animate 14s linear infinite;
}

.beans .set div:nth-child(8) {
  left: 60%;
  animation: animate 15s linear infinite;
}

#cart-counter {
  white-space: pre;
}

.cart {
  min-height: 60vh;
}

.cart_header {
  padding-top: 4vh;
}

.cart .form-control{
  display: block;
  text-align: center;
  padding: 0px;

}

.cart input {
  height: fit-content;
}

.cart_empty {
  line-height: 60vh;
  text-align: center;
  font-size: x-large;
}

/* .cart thead {
  text-align: center;
} */

.btn.checkoutBtn {
  color: var(--primary-3);
  background:var(--primary-1);
  border: 1px solid #8b4513;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  padding:  4px 12px;
  transition: all 0.2s ease-in;
}

.checkoutBtn:hover {
  color: var(--primary-1);
  background-color: var(--primary-3);
}

.login.user_info {
  width: 60vw;
  max-width: 600px;
}

.login.user_info h2 {
  text-transform: uppercase;
  font-size: xx-large;
}

/* .login .login__form-group input {
 width: 70%;
} */

.login__form.user {
  width: 100%;
}

.login__form-group.user__form {
  display: flex;
  width: 100%;
}

.login__form-group.user__form p {
  color: var(--primary-1);
  line-height:  3;
}

.login .login__form-group input.user_info {
  justify-content: end; 
  width: 70%;
  }

@media only screen and (max-width: 992px) {
  .login .login__form-group input.user_info {
   width: 100%;
}
.login__form-group.user__form p {
  line-height: 1.5;
  margin-bottom: 2px;
}
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }

  10% {
    opacity: 1;
  }

  20% {
    transform: translateX(-20%) rotate(45deg);
  }

  40% {
    transform: translateX(-20%) rotate(90deg);
  }

  60% {
    transform: translateX(-20%) rotate(180deg);
  }

  80% {
    transform: translateX(-20%) rotate(45deg);
  }

  100% {
    top: 110%;
    transform: translateX(20%) rotate(225deg);
  }
}

/* ======================= */
/* -----CHECKOUT PAGE----- */
/* ======================= */
/* Phần tử chính */
.container.checkout__page {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 50px;
  max-width: 600px;
}

/* Tiêu đề của form */
.checkout__page h1 {
  color: var(--primary-1);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
  text-transform: uppercase;
}

.checkout__page h1 span {
  color: var(--primary-2);
}


.checkout__page h1::before {
  background-color: var(--primary-1);
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 100%;
}

/* Nhãn và Input */
.checkout__page label {
  color: #000;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.checkout__page input,
.checkout__page textarea {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.checkout__page input:focus,
.checkout__page textarea:focus {
  outline: none;
}

/* Nút Submit */
.checkout__page button[type="submit"] {
  background-color: var(--primary-1);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.checkout__page button[type="submit"]:hover {
  background-color: var(--primary-3);
  color: #ffffff
}
@media screen and (max-width: 550px) {
  .checkout__page h1{
    font-size: 1.5rem;
  }
}

/* ======================= */
/* -------PAY PAGE-------- */
/* ======================= */

.pay__page{
  margin: 0;
  width: 100%;
}
.pay__page p{
  display: block;
}
.pay__page .container{
  background-color: var(--secondary);
  width: 1100px;
  margin:auto;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.pay__order{
  background-color: var(--secondary);
  border-radius: 15px;
}

.pay__order-info{
  width: 800px;
}

.pay__order__image-left{
  height: 150px;
  width: 150px;
}

.pay__order__image-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.pay__order__content-title{
  color: var(--primary-1);
}

/* -------PAY PAGE checkout-------- */
.pay__order-check {
  color: var(--primary-1);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
  text-transform: uppercase;
}

.pay__order-check::before {
  background-color: var(--primary-1);
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: -10px;
  width: 275%;
}

.pay__order-check {
  margin-top: 30px;
  width: 250px;

}

.pay__order-check table {
  width: 100%;
}

.pay__order-check td {
  padding: 10px;
}

.pay__order-check td:first-child {
  font-weight: bold;
}

.pay__order-check td:last-child {
  text-align: right;
  font-weight: bold;
}


/* -------PAY PAGE shipping -------- */
.shipping__info {
  padding: 10px 10px;
}

.shipping__info .card {
  background-color: #f7f2f2;
  color: var(--primary-2);
  font-weight: bold;
  box-shadow: none;
  border-radius: 15px;
}

.shipping__info .card-header {
  color: var(--primary-1);
}

.shipping__info--highlight {
  font-weight: bold;
  color: var(--primary-1);
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .pay__page .container{
    width: 100%;
    margin:auto;
  }
  .pay__order-check::before {
    width: 225%;
  }
 
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .pay__page .container{
    width: 100%;
    margin:auto;
  }

  .pay__order-check::before {
    width: 170%;
  }

  .pay__order-check::before {
    width: 260%;
  }

 
}
@media screen and (min-width: 577px) and (max-width: 767px) {

  .pay__page .container{
    width: 100%;
    margin:auto;
  }
  .pay__order-check::before {
    width: 200%;
  }
 
}

@media screen and (max-width: 576px) {
  .pay__page .container{
    width: 100%;
    margin:auto;
  }
  .pay__order-check::before {
    width: 170%;
  }

}