/* h1 {
  color: red;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

a {
  text-decoration: none !important
}

.checkbox-select-all-options{
  max-width: 33.33vw;
  margin: 0 16px
} */

/* @media screen and (min-width: 610px) and (max-width: 1000px) */


:root {
  --primary-1: rgb(236, 196, 36);
  --primary-2: rgba(10, 0, 0, 0.9);
  --primary-3: #8B4513;
  --primary-4: rgb(240, 142, 56);
  --secondary: rgb(245, 238, 230);
  
}

body {
  overflow-x: hidden;
}

/* ============ */
/* ---Button--- */
/* ============ */

.btn1 {
  background-color: var(--primary-1);
  color: var(--primary-2);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20vh;
}

.btn1:hover {
  color:#ffffff;
  background-color: var(--primary-4);
  font-weight: bold;
  transform: scale(1.1);
}

.btn2 {
  background-color: transparent;
  color: var(--primary-1);
  padding: 10px 20px;
  border: 2px solid var(--primary-1);
  border-radius: 5px;
  cursor: pointer;
  width: 20vh;
}

.btn2:hover {
  color:#ffffff;
  background-color: var(--primary-4);
  font-weight: bold;
  border: none;
  transform: scale(1.1);
}

.btn3 {
  width: 100%;
  margin-left: 0;
  margin-top: 1rem;
  background-color: var(--primary-1);
  color: var(--primary-2);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn3:hover {
  color:#ffffff;
  background-color: var(--primary-4);
  font-weight: bold;
  transform: scale(1.1);
}
  
.btn4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-color:black;
  color:#ffffff;
  border: none;
  cursor: pointer;
}

.btn4:hover {
  color:#ffffff;
  background-color: rgba(113, 108, 105, 0.174);
  font-weight: bold;
}

.btn5 {
  border: none;
  padding: 15px 30px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  background-color: var(--primary-1);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn5-full::before,
.btn5-full::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.btn5-full::before {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleX(0);
  transform-origin: right;
}

.btn5-full:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.btn5-full::after {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleY(0);
  transform-origin: bottom;
}

.btn5-full:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}


/* ================ */
/* ---Background--- */
/* ================ */
.bg1 {
  background-color: var(--secondary);
}


/* ============ */
/* ---navbar--- */
/* ============ */
.navbar{
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  position:fixed;
  z-index: 99;

}
.selected {
  background-color: var(--primary-2);
  width: 30%;
}




/* ============ */
/* ---Slider--- */
/* ============ */
.carousel {
  position: relative;
  margin-top:100px;
}

.carousel-inner {
  max-height: 600px;
}


.carousel-caption {
  position: absolute;
  top: 200px;
  left: 750px;
}

@media only screen and (max-width: 1200px) {
  .carousel-inner {
    max-height: 600px;
  }

  .carousel-caption {
    position: absolute;
    top: 150px;
    left: 500px;
  }

}

@media only screen and (max-width: 900px) {
  .carousel-inner {
    max-height: 400px;
  }

  .carousel-caption {
    position: absolute;
    top: 100px;
    left: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .carousel-inner {
    max-height: 250px;
  }

  .carousel-caption {
    position: absolute;
    top: 50px;
    left: 80px;
  }

  p {
    display: none;
  }

}



.carousel image {
  width: 100%;
  height: auto;
}


.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;

}

.carousel-inner .carousel-item button {
  margin-bottom: 5rem;
}


.carousel-caption {
  text-align: left;
}

/* =================== */
/* ---Card-Services--- */
/* =================== */
.row content {
  display: flex;
  justify-content: flex-end;
}

.container .card {
  height: 20rem;
}

.container .card img {
  border-radius: 100%;
  border: 3px solid var(--primary-1);
}

/* ================== */
/* -------Menu------- */
/* ================== */
.menushop {
  max-height: 600px;
}

.menushop .menushop__coffee {
  height: 600px;
}

.menushop img {
  object-fit: cover;
  height: 600px;
}

@media screen and (max-width: 699px) {
  .menushop {
    max-height: 700px;
  }
  
  .menushop .menushop__coffee {
    height: 700px;
  }
  
  .menushop img {
    object-fit: cover;
    height: 700px;
  }
}

@media screen and (min-width: 700px) and (max-width: 769px){
  .menushop {
    max-height: 850px;
  }
  
  .menushop .menushop__coffee {
    height: 850px;
  }
  
  .menushop img {
    object-fit: cover;
    height: 850px;
  }

}

/* ======================= */
/* ---Our Special thing--- */
/* ======================= */
@media (max-width: 1000px) {
  .ourspecial__content__description {
    overflow-y: scroll;
    height: 100px;
  }
}



/* ========================= */
/* ---Banner Coffee Beans--- */
/* ========================= */

.coffee__beans {
  position: relative;
}
.coffee__beans--caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  max-width: 80%;
  text-align: left;
}

.coffee__beans--caption p {
  max-width: 100%;
  color:#ffffff;
}

.coffee__beans img {
  max-height: 400px;
  object-fit: cover;

}

/* ======================= */
/* ------Contact us------- */
/* ======================= */
@media (min-width: 1000px) {
  .contact__form__row {
    display: flex;
    flex-wrap: wrap;
    
  }

  .contact__form__group .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .contact__form__group {
    margin-bottom: 1rem;
  }

  .contact__form__group:last-child {
    margin-bottom: 0;
  }

}

/* ======================= */
/* --------Footer--------- */
/* ======================= */

footer {
  background-color: var(--primary-1);
  max-height: 600px;
  
}

.footer__top,
.footer__bottom {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 10px; 
}

.footer__top {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-2);; 
  padding: 20px;
}

.footer__top img {
  width: 150px; 
  margin-right: 10px; 
  border-radius: 100px;
}

.footer__top p {
  color: #ffffff; 
  margin: 0; 
}


.input-wrapper {
  background-color:black;
  position: relative;
  display: inline-block;
}
  
  input {
    background-color:black;
    padding-right: 60px;
    color:#ffffff;
    border: none;
  }

.footer__bottom {
  background-color:var(--primary-1);
  color:#ffffff;
}

/* ======================= */
/* ----scrollToTopBtn----- */
/* ======================= */

#scrollToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: #a7a0a041;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollToTopBtn:hover {
  background-color: #1e1d1d;
}


/* ======================= */
/* ---------PAGES--------- */
/* ======================= */
/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
} */
.account {
  background-image: url(https://lh3.googleusercontent.com/pw/AMWts8Ao2p2c_uPrgWCOVPqUfu6EbmWrIpBmdt3JBC0Fo0DBPizDHPY29j-tt-dP8PNsba7mLNcPSWS1jjNTdjrBP7P3iQHtiG2h2w33064YP_U2KJKDWBZBl0e0WmV2wITa74YXpNSRvzjdQC814xQ25CYA=w1341-h893-s-no?authuser=0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.login {
  width: 450px;
  margin: 100px auto;
  background-color: #ffffff90;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #00000040;
}

.login h2 {
  text-align: center;
  color: #8B4513;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login .login__form-group {
  position: relative;
  margin: 10px 0;
}

.login .login__form-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #8B4513;
  outline: none;
  background: transparent;
}

.login .login__form-group input:focus {
  border-color: #8B4513;
  box-shadow: 0px 0px 10px #8B4513;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.login .login__form-next {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8B4513;
  font-size: 14px;
}

.login .login__form-next a{
  color: #8B4513;
  text-decoration: none;
  transition: 0.5s;
}

.login .login__form-next a:hover {
  color: #000;
}

.beans{
  position:absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  pointer-events: none;

}

.beans .set{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  pointer-events: none;
}

.beans .set div{
  position: absolute;
  display: block;
}

.beans .set div:nth-child(1){
  left:20%;
  animation: animate 20s linear infinite;
}

.beans .set div:nth-child(2){
  left:50%;
  animation: animate 14s linear infinite;
}

.beans .set div:nth-child(3){
  left:70%;
  animation: animate 12s linear infinite;
}

.beans .set div:nth-child(4){
  left:5%;
  animation: animate 15s linear infinite;
}

.beans .set div:nth-child(5){
  left:85%;
  animation: animate 18s linear infinite;
}

.beans .set div:nth-child(6){
  left:90%;
  animation: animate 12s linear infinite;
}

.beans .set div:nth-child(7){
  left:15%;
  animation: animate 14s linear infinite;
}

.beans .set div:nth-child(8){
  left:60%;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0%{
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10%{
    opacity: 1;
  }
  20%{
    transform: translateX(-20%) rotate(45deg);
  }
  40%{
    transform: translateX(-20%) rotate(90deg);
  }
  60%{
    transform: translateX(-20%) rotate(180deg);
  }
  80%{
    transform: translateX(-20%) rotate(45deg);
  }
  100%{
    top:110%;
    transform: translateX(20%) rotate(225deg);
  }
}
