.E404 {
  background-image: url("https://lh3.googleusercontent.com/pw/AMWts8CvDxKCoFGjbkCH2V9dvnfxSUBoqfrlnJX_8_w7cyfAcn4qljffyR8_oi3azbfYm6TimxBrt1tybTFMm6mqigVOsi09MkW92AtsqC1tZz4x9LbH2102MNetWIvjBixZ5_041zNFuGi-ZqjnOfMEnZuT=w840-h560-s-no?authuser=0");
  min-height: 67.5vh;
  background-size: cover;
  background-position: center center;
  width: 100%;
  color: var(--secondary);
  text-align: center;
}
a {
  text-decoration: none;
  font-size: larger;
}

a:hover {
  scale: 1.3;
  transition: all 0.5s ease-in-out;
  text-shadow: #1e1d1d;
}

.E404 a {
  color: var(--secondary);
}

.E404_content {
  padding: 0 15vw;
  background-color: #0000009c;
  width: 100%;
}
