:root {
  --primary-1: rgb(236, 196, 36);
  --primary-2: rgba(10, 0, 0, 0.9);
  --primary-3: #8b4513;
  --primary-4: rgb(240, 142, 56);
  --secondary: rgb(245, 238, 230);
}

.edit_container {
  background-color: var(--secondary);
  padding: 0 16vw 8vw;
}

.edit_container.row > * {
  flex-shrink: unset;
}

.form-control:focus {
  border-color: var(--primary-1);
  box-shadow: 0 0 0 0.1rem rgba(236, 196, 36, 0.521);
}

h1.edit_title {
  text-align: center;
  margin: 4vh;
}

.form-check-label {
  margin-left: 8px;
  transform: translateY(4px);
  line-height: 26px;
}

.form-check-input:checked {
  background-color: #8b4513;
  border-color: #8b4513;
}

.form-check-input {
  width: 8px;
  height: 20px;
  padding: 12px;
}

button.edit_btn {
  background-color: var(--primary-1);
  border: 1px solid rgba(0, 0, 0, 0.199);
  box-shadow: 0 0 0 0.1rem rgba(97, 97, 97, 0.521);
  margin-top: 12px;
  padding: 8px 12vw;
}

.edit_btn:hover {
  color: var(--primary-1);
  background-color: #8b4513;
}

/* .edit {
  padding: 0px 12vw;
} */

.edit_img {
  overflow: hidden;
  margin-top: 2vh;
  max-width: 576px;
}

@media only screen and (max-width: 992px) {
  .edit_container {
    padding: 0 12vw 8vw;
  }

  .edit_img {
    max-width: none;
  }
}
