:root {
  --primary-1: rgb(236, 196, 36);
  --primary-2: rgba(10, 0, 0, 0.9);
  --primary-3: #8b4513;
  --primary-4: rgb(240, 142, 56);
  --secondary: rgb(245, 238, 230);
}

.menu_container {
  background-color: var(--secondary);
  text-align: center;
}
.menu_title {
  color: var(--primary-3);
  text-transform: uppercase;
}

.menu_body {
  padding: 0 15vw;
}

.menu_item {
  transition: all 0.2s ease-in-out;
}

.menu_item:hover .addToCartBtn {
  transform: translateY(0);
  display: block;
}
.card-item-top {
  height: 80px;
  scale: 1;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.menu_item:hover .card-item-top {
  scale: 1.1;
}

.card-body {
  overflow: hidden;
}

.addToCartBtn {
  color: var(--primary-3);
  background: #ffffff;
  border: 1px solid #8b4513;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  padding: 4px;
  transform: translateY(50px);
  transition: all 0.2s ease-in;
  display: none;
}

.addToCartBtn:hover {
  color: #fff;
  background-color: var(--primary-3);
}
