{{!-- <p>footer</p> --}}

<footer class="container-fluid">
        <div class="row no-gutters">
            <div class="footer__top">
                <img class="footer__top-logo p-2" src="https://lh3.googleusercontent.com/pw/AMWts8DEGUwE4_KrMorihHFl_5k56bO8pbJSux5iukeYBuyLSXvERnygKf_J1OTNNNVZyMrX35Jgl7PjnG38DTUFk4ddIFp1IT_viJbk48PBooHwBfTpt1eXsci1zcR9SjrampjzwHNfqOQPo69MLBbyF1WW=w409-h409-s-no?authuser=0" alt="Logo" />
                <h5 class="footer__top-title p-2">Prestige-Quality</h5>
                <form class="footer__top-form">
                    <div class="footer__top-form-input-wrapper input-wrapper">
                        <input type="email" id="email-input" name="email" placeholder="SUBSCRIBE | Your Email" />
                        <button class="btn4 footer__top-form-submit" type="submit"><i
                                class="fa-solid fa-arrow-right-long"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="row footer__bottom">
                <h6 class="footer__bottom-text text-center">FourWayCafé - No. 1 coffee brand in the universe</h6>
            </div>
        </div>
    </footer>