<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
    <div class="container col-10">
        <a class="navbar-brand" href="/home">
            <h3>FourWay<span style="color: var(--primary-1);">Café</span></h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link mx-lg-3" aria-current="page" href="/home">Trang chủ</a>
                <a class="nav-link active mx-lg-3" href="/menu">Menu</a>
                <a class="nav-link mx-lg-3" href="/about">Về chúng tôi</a>
                <a class="nav-link mx-lg-3" href="/shop">Cửa hàng</a>
                <a class="nav-link mx-lg-3" href="/contact">Liên hệ</a>
                <a class="nav-link " style="color:var(--primary-1); padding-top:12px" href="/cart"><i
                        class="fa-solid fa-cart-shopping" id="cart-counter"> {{cartQuantity}}</i></a>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" style="padding-top:12px" href="#" role="button"
                        id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <ul id="user-menu" class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li id="signup-menu" ><a class="dropdown-item" href="/signup">Đăng kí</a></li>
                        <li id="signin-menu" ><a class="dropdown-item" href="/signin">Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>