<div class="E404 d-flex">
  <div
    class="E404_content d-flex flex-column align-items-center justify-content-center"
  >
    <h1 class="p-4 px-2 s">
      Opps, Trang bạn truy cập không hợp lệ hoặc đã bị xóa
    </h1>
    <a href="/main.html" title="Về trang chủ" class="fs-5 px-3">
      <!-- Chỗ này route lại nhé -->
      <span class="fa-solid fa-arrow-right-from-bracket"></span>Về trang chủ
    </a>
  </div>
</div>