<div class="about bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">CHÚNG TÔI LÀ AI ?</h1>
        <p class="lead mb-0">4 chàng trai trẻ với ước mơ, hoài bão lớn đã xây dựng thành công chuỗi Cafe Four Ways, là đối thủ đáng gờm của Starbucks </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://lh3.googleusercontent.com/pw/AMWts8CHVJlX2DkiG-No_qnhutuzfdl6Ton_ABEcrqFd_zTwr02WlswPWQvuthjDd7hIh9r7-TZf1CrduIzWOKuqOVw7V-1HqfTc_6crGRSOFWWo8rO-JhbxvgnbNKxws-fY4Sq37t8GKxPqgIt1CJDIl4BQ=w942-h628-s-no?authuser=0" alt="" class="img-fluid" style="width: 40vw;"></div>
    </div>
  </div>
</div>

<div class="about_2 py-5 bg-black">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-white"></i>
        <h2 class="font-weight-light text-white ">Cà phê chuẩn vị đến từng giọt</h2>
        <p class="font-italic text-muted mb-4 text-white-50 ">Đến với Four Ways, thứ các bạn thưởng thức không chỉ là cà phê, đó còn là tinh hoa của tự nhiên, tinh hoa từ bàn tay người lao động để tạo ra hương vị ngon đúng điệu</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Click here!</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2 "><img src="https://lh3.googleusercontent.com/pw/AMWts8BXl3qx1_Jqn6XpAFnn9fFCy5g10ZFPdpeZATupUm_JCDW7kblnoZ5Y8pZx6rYPdkCGfQ52PSh1lH9gX8hZht-QAbPO6Vcjed1nQ9e6OAFtuCnCDrdC2mqHx4fkETmI4h0aHJQWBfnN-YzG8ITo4LUd=w896-h896-s-no?authuser=0" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://lh3.googleusercontent.com/pw/AMWts8AhjPsK1HdK7w4sDwMts75ZnVE2u89StGzNNWwDoxgp43Box_fDpwGawpBo5UD0aK5lcSeGcZpbofUJtNlT1mznic9xukQvaBk8hOavh0fcb6Sg6hvDrSe3Jl-b3x3ixsDROz7TaFIchCX7lqQbw0qA=w896-h896-s-no?authuser=0" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary  text-white"></i>
        <h2 class="font-weight-light text-white">Công thức tạo nên sự khác biệt</h2>
        <p class="font-italic text-white-50 mb-4 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Khám phá</a>
      </div>
    </div>
  </div>
</div>

<div class="about_3 pt-3 ">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Team Four Ways</h2>
        <p class="font-italic text-muted">Dưới đây là hình ảnh 4 founder - 4 chàng lính ngự lâm đã đồng sáng lập Four Ways, những hình ảnh này sẽ khiến Starbucks phải khiếp sợ !</p>
      </div>
    </div>   </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://lh3.googleusercontent.com/pw/AMWts8BJOUt3qc2_8ouDo82EB3SUIv8DaCoLGqHiFo0TdwfKRfjYrRbw4WOWbGAouofvSwQ41NmtJABYJ5bEaGcMKCbkFcR6ZXvmLjiQk0eFmOk6l_iVcZVwdc2zc8fwVZhY9hvpGoyBGM0xMipKib7WnB04=w942-h942-s-no?authuser=0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Nguyễn Đức Mạnh</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://lh3.googleusercontent.com/pw/AMWts8B9kZz7l_51V4gL0YevIOQGQ7aan-_vv8dGEMSs5ym3L_KZ57uW53xlbr7j2h8sXVkm8nPjRGd8Xa4aan3VVpieojx4oVYXfN_gTrqul52oRiUYG7D-Z7qs6uBdDaMggew8FuNjKH56eZTvmtdkKxfw=w942-h936-s-no?authuser=0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Đạt Trần</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://lh3.googleusercontent.com/pw/AMWts8CURz-wENpo50F4HjY4EtnqxDj9K7vikZqbZn0lfHbXqRqgT5XxYllOhFvxb3k64AQgICLMy63aGDM2XuNY0cWmLcBvlB9kn3aMDM6dp3lhvomkZLMY6hxCV_fT_zaxFgj9kQtZ41H2iM0bsfqe3rwy=w942-h942-s-no?authuser=0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Nguyễn Văn Hiếu</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://lh3.googleusercontent.com/pw/AMWts8D6i2dDwtyJiOGMnfi4lXlErAmI_OrVzu1sXvbwk3vJcR56TlNBcaQbrS0LzORyTHisDYX3SyVN55ZTgH89VYIuzsto-k2J1vA8NDIhIKw0TCSHJ-EQ6ln2kXWfeXr6xVxwUDiWo6PI4tjwdbZ3XzO4=w942-h942-s-no?authuser=0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Triệu Đức Diễn</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
