<div class="contact__wrapper">
    <div class="container">
        <h2 class="text-center">LIÊN HỆ</h2>
        <div class="row m-4">
            <div class="col-md-6 contact__wrapper__info">
                <div class="col-md-4">
                     <div class="single-contact">
                        <i class="fa fa-map-marker"></i>
                        <h5>Địa chỉ</h5>
                        <p>512, Mã Phì Lèng, Namek</p>
                     </div>
                     <div class="single-contact">
                        <i class="fa fa-phone"></i>
                        <h5>Số điện thoại</h5>
                        <p>(+84)918273645</p>
                     </div>
                     <div class="single-contact">
                        <i class="fa fa-envelope"></i>
                        <h5>Email</h5>
                        <p>fourway@dedai.com</p>
                     </div>
                  </div>
            </div>
            <div class="col-md-6 contact__wrapper__send">
                <form class="contact__form">
                    <div class="contact__form__row m-2">
                        <div class="contact__form__group col-md-6">

                            <input type="text" class="form-control" id="contact__form__input-name" placeholder="Tên*">
                        </div>
                        <div class="contact__form__group col-md-6">

                            <input type="email" class="form-control" id="contact__form__input-email"
                                placeholder="Email*">
                        </div>
                    </div>
                    <div class="contact__form__group m-2 cooperation">

                        <input type="text" class="form-control" id="contact__form__input-cooperation"
                            placeholder="Đối tác*">
                    </div>
                    <div class="contact__form__group m-2">

                        <textarea class="form-control" id="contact__form__input-message" rows="5"
                            placeholder="Lời nhắn*"></textarea>
                    </div>
                    <button type="submit" class="btn5 btn5-full">GỬI</button>
                </form>
            </div>

        </div>
    </div>
</div>