
    <div class="contact__ui">
        <div class="container">
            <h2 class="text-center">LIÊN HỆ</h2>
            <div class="row ">
                <div class="col-xl-6 contact__wrapper__info ">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <div class="row single-contact mx-1">
                            <h5 class="mb-3"><i class="fa fa-map-marker"></i> Địa chỉ</h5>
                            <p>123 Hogwarts, London</p>
                            <p>512, Mã Phì Lèng, Namek</p>
                            <p>259A Bạch Mai, P. Bạch Mai</p>
                            <p>25 Lê Đại Hành, P. Lê Đại Hành</p>
                            <p>320 Cầu Giấy, P. Quan Hoa</p>
                        </div>
                        <div class="row single-contact mx-1">
                            <h5 class="mb-3"><i class="fa fa-phone"></i> Số điện thoại</h5>
                            <p>(+84) 91 8273645</p>
                            <p>(+84) 95 7380289</p>
                            <h5><i class="fa fa-envelope"></i> Email</h5>
                            <p>fourway@dedai.com</p>
                            <p>babychan@dedai.com</p>
                        </div>
                    </div>
                    <div class="single-contact-next d-flex justify-content-center mt-3 ">
                        <a href="/shop">Xem thêm...</a>
                    </div>
                </div>
                <div class="col-xl-6 contact__wrapper__send">
                    <form class="contact__form">
                        <div class="contact__form__row m-2">
                            <div class="contact__form__group col-md-6">

                                <input type="text" class="form-control" id="contact__form__input-name"
                                    placeholder="Tên*">
                            </div>
                            <div class="contact__form__group col-md-6">

                                <input type="email" class="form-control" id="contact__form__input-email"
                                    placeholder="Email*">
                            </div>
                        </div>
                        <div class="contact__form__group m-2 cooperation">

                            <input type="text" class="form-control" id="contact__form__input-cooperation"
                                placeholder="Đối tác*">
                        </div>
                        <div class="contact__form__group m-2">

                            <textarea class="form-control" id="contact__form__input-message" rows="5"
                                placeholder="Lời nhắn*"></textarea>
                        </div>
                        <button type="submit" class="btn5 btn5-full">GỬI</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
