<div class="contact__wrapper">
    <div class="container">
        <h2 class="text-center mt-3">CONTACT US</h2>
        <div class="row m-4">
            <div class="col-md-6 contact__wrapper__info">
            </div>
            <div class="col-md-6 contact__wrapper__send">
                <form class="contact__form">
                    <div class="contact__form__row m-2">
                        <div class="contact__form__group col-md-6">

                            <input type="text" class="form-control" id="contact__form__input-name" placeholder="Name*">
                        </div>
                        <div class="contact__form__group col-md-6">

                            <input type="email" class="form-control" id="contact__form__input-email"
                                placeholder="Email*">
                        </div>
                    </div>
                    <div class="contact__form__group m-2 cooperation">

                        <input type="text" class="form-control" id="contact__form__input-cooperation"
                            placeholder="Cooperation*">
                    </div>
                    <div class="contact__form__group m-2">

                        <textarea class="form-control" id="contact__form__input-message" rows="5"
                            placeholder="Message*"></textarea>
                    </div>
                    <button type="submit" class="btn5 btn5-full">Send</button>
                </form>
            </div>

        </div>
    </div>
</div>