{{!-- <div class="mt-4">
    <div class="row">
        {{#each products}}
        <div class="col-sm-6 col-lg-4">
            <div class="card mt-2">
                <a href="/products/{{this.slug}}">
                    <img src="{{getImage this.imageId}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        {{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div> --}}

<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="\img\slider1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption mb-md-5">
                <h1><span style="color: var(--primary-1);">TIME FOR A</span> COFFEE</h1>
                <p>Some representative placeholder content for the first slide.</p>
                <button type="button" class="btn2">Order now</button>
            </div>
        </div>
        <div class="carousel-item active">
            <img src="\img\slider2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption mb-md-5">
                <h1><span style="color: var(--primary-1);">TIME FOR A</span> COFFEE</h1>
                <p>Some representative placeholder content for the second slide.</p>
                <button type="button" class="btn2">Order now</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="\img\slider3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption mb-md-5">
                <h1><span style="color: var(--primary-1);">TIME FOR A</span> COFFEE</h1>
                <p>Some representative placeholder content for the third slide.</p>
                <button type="button" class="btn2">Order now</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Our services -->
<div class="ourservices d-flex justify-content-center align-items-center m-5">
    <div class="container m-3">
        <div class="row ourservices__title-head mb-3">
            <h2 class="text-center">OUR<span style="color: var(--primary-1);"> SERVICES</span></h2>
            <p class="text-center">Some representative placeholder content for the first slide.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 col-md-5 col-lg-4 col-xl-3 m-2 m-md-3">
                <div class="home__card">
                    <img src="https://lh3.googleusercontent.com/pw/AMWts8BWcsNVQhkadQKWyn83V1L78PTYptJ4Dpkwxr0XU10gee5rJ3lqcFHgo-RpWBLPPM71fThRGJpkKWoXfPDnGZOaDIpOHxNy8xbiRX9RP6DcHO605HYp5IPkazk8TiHlbnFB6ght-2kGd7u4SACDHFwp=w893-h893-s-no?authuser=0"
                        class="img-thumbnail mx-auto d-block" alt="...">
                    <div class="card-body text-center">
                        <h3 class="mt-2">BEAN</h3>
                        <p>Bean very good</p>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-5 col-lg-4 col-xl-3 m-2 m-md-3">
                <div class="home__card">
                    <img src="https://lh3.googleusercontent.com/pw/AMWts8DJnm-6-uehGy6Hkjx01ADEdlFPFlPFmE3zkajXXYHGf5GFJUA8q5ipA9wi-Td1r-IU2J0GItg58ytcRIpNEsQKXFso6fvH0aM5TcVRer5nOmBz2BmgkUhlEoV-nSH4M19j97kh3dEb02E2jbcz0qYi=w893-h893-s-no?authuser=0"
                        class="img-thumbnail mx-auto d-block" alt="">
                    <div class="card-body text-center">
                        <h3 class="mt-2">COFFEE</h3>
                        <p>Bean very good</p>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-5 col-lg-4 col-xl-3 m-2 m-md-3">
                <div class="home__card">
                    <img src="https://lh3.googleusercontent.com/pw/AMWts8AFjPmRJVL8ZaL-wViEmncu12INVO81_WuzWFAle9vujJ2a2jBGliJMSXrIJJqRKcPujpFqGFQboNg8nJzFEQOG5XeFMPfF28d4AkW5ZJeDoPoFNHuwumSaY3-4bwQStb1etS2Ezarz75MYEwZVbzkb=w893-h893-s-no?authuser=0"
                        class="img-thumbnail mx-auto d-block" alt="">
                    <div class="card-body text-center">
                        <h3 class="mt-2">BREAKFAST</h3>
                        <p>Bean very good</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MENU -->
<banner class="container-fluid menushop">
    <div class="row">
        <div class="col-lg-8 col-sm-12 p-0">
            <div class="container-fluid menushop__coffee text-light bg-dark">
                <div class="menushop__coffee--head">
                    <h2 class="text-center p-3" style="color: var(--primary-1);">MENU</h2>
                    <div class="menu-btn d-flex justify-content-center">
                        <button type="button" class="menu__btn m-2">Coffee beans</button>
                        <button type="button" class="menu__btn active m-2">Drinks</button>
                        <button type="button" class="menu__btn m-2">Breakfast</button>
                    </div>
                </div>
                <div class="menushop__coffee--content">
                    <!-- content1 -->
                    <div class="container menushop__coffee--content1 mt-3">
                        <div class="row mx-3" style="color: var(--primary-1)">
                            <div class="col-md-6 d-flex flex-wrap">
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>1/Cafe Arabica</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$5,5</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 90</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>2/Cafe Robusta</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$6,0</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 75</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>3/Cafe Culi</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$5,5</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 30</span></i>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-wrap p-2">
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>4/Cafe Cherry</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$5,0</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 100</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>5/Cafe Catimor</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$5,5</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 80</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>6/Cafe Moka</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$6,5</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)">
                                                90</span></i>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content2 -->
                    <div class="container menushop__coffee--content2 mt-3">
                        <div class="row mx-3" style="color: var(--primary-1)">
                            <div class="col-md-6 d-flex flex-wrap">
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>1/Capuccino</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$5,5</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 60</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>2/Fappuccino</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$6,0</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 75</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>3/Espresso</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$5,5</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 50</span></i>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-wrap p-2">
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>4/Mocha</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$5,0</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 60</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>5/Cafe Latte</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$5,5</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 70</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>6/Macchiato</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$6,5</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)">
                                                90</span></i>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content3 -->
                    <div class="container menushop__coffee--content3 mt-3">
                        <div class="row mx-3" style="color: var(--primary-1)">
                            <div class="col-md-6 d-flex flex-wrap">
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>1/Macaron</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$3,5</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 80</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>2/Escargot</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$6,0</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 75</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>3/Crepe</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$2,5</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 55</span></i>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-wrap p-2">
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>4/Pain au Chocolat</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$6,0</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 50</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>5/Croque Monsieur</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$5,5</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)"> 75</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row menushop__products mx-2">
                                    <div class="col-10 menushop__products--list">
                                        <h4>6/Phở bò tái lăn</h4>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                    <div class="col-2 menushop__products--price">
                                        <h4>$10</h4>
                                        <i style="color:red;" class="fa-solid fa-heart"><span
                                                style="color: var(--primary-1)">
                                                300</span></i>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block p-0">
            <img src="https://lh3.googleusercontent.com/pw/AMWts8AFWAn0VFKqhNDmQDINoraUzUYSoUuyXK9Yg1AeoLG5O8szlj5KmcYmASqg-m7hCroYHn5_dX34nxSjrhyO3-3T7lSBCMZuM9YaWSYmTWGL9l0-hJ573HOyBQ56uOOaQ7nEybKZEn_sownNSbuLjq-r=w595-h893-s-no?authuser=0"
                class="w-100" alt="">
        </div>
    </div>
</banner>

<!-- Chitiet -->
<div class="ourspecial d-flex justify-content-center align-items-center">
    <div class="container m-5">
        <h2 class="text-center">OUR<span style="color: var(--primary-1);"> SPECIAL THINGS</span></h2>
        <p class="text-center pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <div class="row no-gutters">
            <div class="col-6 ourspecial__image--left bg1 p-0">
                <img src="https://lh3.googleusercontent.com/pw/AMWts8BTbHHDwXmllOAaOjE7BS9flxqPTHMMknHwYziBoTuagGxtSbaNzQLVSNAKq5Vr27eovUK0hPISc6Q6cyO-rFBbgnbt-LZQtkFTz0apg3pP7FfACfdyYKx5v9SZ3GoZzJV7gZG7wUOSFmCz_wZWV7zd=w1339-h893-s-no?authuser=0"
                    class="w-100" alt="">
            </div>
            <div
                class="col-6 ourspecial__content--right bg1 p-0 d-flex justify-content-center align-items-center flex-column">
                <h3 class="ourspecial__content__title" style="color:var(--primary-1);">GOOD COFFEE BEANS</h3>
                <p class="ourspecial__content__description mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div
                class="col-6 ourspecial__content--left bg1 p-0 d-flex justify-content-center align-items-center flex-column">
                <h3 class="ourspecial__content__title" style="color:var(--primary-1);">GOOD COFFEE BEANS</h3>
                <p class="ourspecial__content__description mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. </p>
            </div>
            <div class="col-6 ourspecial__image--right bg1 p-0">
                <img src="https://lh3.googleusercontent.com/pw/AMWts8Doh2l0GVxa4E4iI9yY1rLotNiUTy77KcaM0M82kDvZfcgpCwzyC94XVQTsn2Fj5WfHK8cARa7QQ_0G4g7GPYhGL1ejZniwCrtD1rWoqG7Q8CJiZixlJAn057JpIfGt6TUYf387g6KLBwBpdujVGu0E=w1339-h893-s-no?authuser=0"
                    class="w-100" alt="">
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-6 ourspecial__image--left bg1 p-0">
                <img src="https://lh3.googleusercontent.com/pw/AMWts8DoEF3lPII9f4nwEQgIInN5vHXdnnRkc27sXk_Rz3X2CunA12IXYD7v3rY1XSxnYEm1YXQFtiZ4r3GXO2pgct4N6aKDZSF2OyPLBvz9bp9JLnWMjzC05twp2Vwpgv5xjMM_nnZqIA3OIcNqGwOYzb29=w1251-h893-s-no?authuser=0"
                    class="w-100" alt="">
            </div>
            <div
                class="col-6 ourspecial__content--right bg1 p-0 d-flex justify-content-center align-items-center flex-column">
                <h3 class="ourspecial__content__title" style="color:var(--primary-1);">GOOD INGREDIENTS</h3>
                <p class="ourspecial__content__description mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. </p>
            </div>
        </div>
    </div>
</div>

<!-- Coffee beans -->
<div class="coffee__beans">
    <banner class="banner container-fluid">
        <div class="row">
            <img src="\img\banner beans.jpg" class="img-fluid w-100" alt="">
            <div class="coffee__beans--caption">
                <h2 class="coffee__beans--caption-title"><span style="color: #ffffff;"> ARABICA</span><span
                        style="color: var(--primary-1);"> COFFEE
                        BEANS</span></h2>
                <p class="coffee__beans--caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <button type="button" class="btn1 coffee__beans--caption-btn">Order now</button>
            </div>
        </div>
    </banner>
</div>


<!-- Contact Us -->
<div class="contact__wrapper">
    <div class="container">
        <h2 class="text-center mt-3">CONTACT US</h2>
        <div class="row m-4">
            <div class="col-md-6 contact__wrapper__info">
            </div>
            <div class="col-md-6 contact__wrapper__send">
                <form class="contact__form">
                    <div class="contact__form__row m-2">
                        <div class="contact__form__group col-md-6">

                            <input type="text" class="form-control" id="contact__form__input-name" placeholder="Name*">
                        </div>
                        <div class="contact__form__group col-md-6">

                            <input type="email" class="form-control" id="contact__form__input-email"
                                placeholder="Email*">
                        </div>
                    </div>
                    <div class="contact__form__group m-2 cooperation">

                        <input type="text" class="form-control" id="contact__form__input-cooperation"
                            placeholder="Cooperation*">
                    </div>
                    <div class="contact__form__group m-2">

                        <textarea class="form-control" id="contact__form__input-message" rows="5"
                            placeholder="Message*"></textarea>
                    </div>
                    <button type="submit" class="btn5 btn5-full">Send</button>
                </form>
            </div>

        </div>
    </div>
</div>
<button onclick="topFunction()" id="scrollToTopBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>