<div class="menu_container container-fluid p-5">
  <div class="menu_row row">
    <!-- Menu bên trái (Phân loại) -->
    <div class="menu_left col-lg-3 col-md-3 col-sm-12 col-xs-12 stikySidebar">
      <aside class="sidebar_menu">
        <ul class="menu_list">
          <li>
            <i class="icon"></i><a href="#" class="category active"> Tất cả </a>
          </li>
          <li>
            <i class="icon"></i><a href="#" class="category">
              Cà Phê Việt Nam
            </a>
          </li>
          <li>
            <i class="icon"></i><a href="#" class="category"> Cà Phê Máy </a>
          </li>
          <li>
            <i class="icon"></i><a href="#" class="category"> Tất cả </a>
          </li>
        </ul>
        <select class="menu_selector">
          <option value="null">Tất cả</option>
          <option value="null">Cà Phê Việt Nam</option>
          <option value="null">Cà Phê Máy</option>
        </select>
      </aside>
    </div>
    <!-- Menu bên phải: sản phẩm -->
    <div class="menu_right col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="menu_category CFVN">
        <h3 class="fw-bold">Cà Phê Việt Nam</h3>
        <div class="row row-cols-3 mt-2 gy-3 gx-2">
          <div class="menu_item col-sm-6 col-md-4 col-lg-4 col-12">
            <div class="menu_item_image">
              <a href="##">
                <img
                  src="https://lh3.googleusercontent.com/pw/AMWts8A23WqLovg7HhvNXhJ8nuqAkK6RiM2TIDkjzk9YLBL3Lhp_-mS7MZfm0DKZL73LKMqu0iyzPDi3oJTvTIic1J9lklR3BsSsob78eZyR0EyvaOtTFXjh1L2x3RxpTn1vze4cIcyCvmP-Yg423ci-NY4A=w480-h480-s-no?authuser=0"
                  alt=""
                />
              </a>
            </div>
            <div class="menu_item_info">
              <h3>
                <a href="#" title="CFVN1">Sữa Đá Đặc Biệt</a>
              </h3>
              <div class="price_product_item">39.000 đ</div>
            </div>
          </div>
          <div class="menu_item col-sm-6 col-md-4 col-lg-4 col-12">
            <div class="menu_item_image">
              <a href="##">
                <img
                  src="https://lh3.googleusercontent.com/pw/AMWts8D5Qn82VhvqUE4GSrMkHSvXbIjxtqv2SQThLBobfrliI890OszePFQUZEBPBBKttOQjG-XooZt3tD5e7ZLnQnRCImYR0blJj8K08KTsr-boqhRJrCgwA_bXm9b4oXqmyG7vliTG_rGPi7UzhE6ibXkz=w480-h480-s-no?authuser=0"
                  alt=""
                />
              </a>
            </div>
            <div class="menu_item_info">
              <h3>
                <a href="#" title="CFVN2">Cà Phê Sữa Đá</a>
              </h3>
              <div class="price_product_item">29.000 đ</div>
            </div>
          </div>
          <div class="menu_item col-sm-6 col-md-4 col-lg-4 col-12">
            <div class="menu_item_image">
              <a href="##">
                <img
                  src="https://lh3.googleusercontent.com/pw/AMWts8D9zrB15odq9HVaK8Zm_4He4ya1yK0lNi3Mg6hyKtCfPd7Ohwr_wT_ovNIdn1YfGPgHYY2T9_UU-Bzq--OksPv8zDUZCZct-hbtIRx9fFraXi8I1YzEUVtU--XQnReQr8HYGRJ9taaKkq6ZEqXi8xyn=w480-h480-s-no?authuser=0"
                  alt=""
                />
              </a>
            </div>
            <div class="menu_item_info">
              <h3>
                <a href="#" title="CFVN3">Bạc Sỉu</a>
              </h3>
              <div class="price_product_item">29.000 đ</div>
            </div>
          </div>
          <div class="menu_item col-sm-6 col-md-4 col-lg-4 col-12">
            <div class="menu_item_image">
              <a href="##">
                <img
                  src="https://lh3.googleusercontent.com/pw/AMWts8AWFAIM4zMFftQ7VvGsl8Zbk9hmVIRXEftlfTc7tqonbW6m_ST9TPadLGaiJFYo0bfM4CGfgIajoxjXSNbPuwC89f9-t_Yz6Y5Z2Xt3ODp5gcuoichkoByQpd0i-O4FFFdQh_a-3DFmRz06NM6lt2G3=w480-h480-s-no?authuser=0"
                  alt=""
                />
              </a>
            </div>
            <div class="menu_item_info">
              <h3>
                <a href="#" title="CFVN4">Đen Đá</a>
              </h3>
              <div class="price_product_item">39.000 đ</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Category2: Cà phê máy (CFM) -->
      <div class="menu_category CFM pt-4">
        <h3 class="fw-bold">Cà Phê Máy</h3>
        <div class="row row-cols-3 mt-2 gy-3 gx-2">
          <div class="menu_item col-sm-6 col-md-4 col-lg-4 col-12">
            <div class="menu_item_image">
              <a href="##">
                <img
                  src="https://lh3.googleusercontent.com/pw/AMWts8A23WqLovg7HhvNXhJ8nuqAkK6RiM2TIDkjzk9YLBL3Lhp_-mS7MZfm0DKZL73LKMqu0iyzPDi3oJTvTIic1J9lklR3BsSsob78eZyR0EyvaOtTFXjh1L2x3RxpTn1vze4cIcyCvmP-Yg423ci-NY4A=w480-h480-s-no?authuser=0"
                  alt=""
                />
              </a>
            </div>
            <div class="menu_item_info">
              <h3>
                <a href="#" title="CFM1">Caramel Macchiato Đá</a>
              </h3>
              <div class="price_product_item">55.000 đ</div>
            </div>
          </div>
          <div class="menu_item col-sm-6 col-md-4 col-lg-4 col-12">
            <div class="menu_item_image">
              <a href="##">
                <img
                  src="https://lh3.googleusercontent.com/pw/AMWts8CcRbmdMrG3bnPzgK7qMHZ8Lbf30hpKX1eOwdgXCBjaBVvj0h4h-sPw5aQdO0wFi9ziA0N9sico3fZSOUBIgomGrYtjdIL4Ij7v063EeeBHUgd_pZa-kTCZ934jIEXfM4IM4J8u0X4raTBudDFhpX7i=w480-h480-s-no?authuser=0"
                  alt=""
                />
              </a>
            </div>
            <div class="menu_item_info">
              <h3>
                <a href="#" title="CFM2">Latte Đá</a>
              </h3>
              <div class="price_product_item">55.000 đ</div>
            </div>
          </div>
          <div class="menu_item col-sm-6 col-md-4 col-lg-4 col-12">
            <div class="menu_item_image">
              <a href="##">
                <img
                  src="https://lh3.googleusercontent.com/pw/AMWts8AZX3V_o0f35ocYP7qMh3EM2JFpIxb3ldpDR6xXFUMD96-fvhXMqYFuliG9g-Noc44o8W2TD71xSw-5ksOIkFKtYtGMZ7l74CsTCb2dUr0K11BmxH0EaLeGKWWjyuqd0wNbvdnQomDd-Rrh8ArYh1ps=w480-h480-s-no?authuser=0"
                  alt=""
                />
              </a>
            </div>
            <div class="menu_item_info">
              <h3>
                <a href="#" title="CFM3">Latte Nóng</a>
              </h3>
              <div class="price_product_item">55.000 đ</div>
            </div>
          </div>
          <div class="menu_item col-sm-6 col-md-4 col-lg-4 col-12">
            <div class="menu_item_image">
              <a href="##">
                <img
                  src="https://lh3.googleusercontent.com/pw/AMWts8C8N5Y5SP070rpcJC5T2GBJD9KYQsKMpNw69LF9oR9WJ6h2qrb_9gYt80o6a98_G6WjivehgzNgE7h0czpbmyWZenghKr5zMmtnv1SLHbjswejvPJSluDc8IAgnxPpbqCcc-c-MsrU5DNpEHDD7BTtm=w400-h400-s-no?authuser=0"
                  alt=""
                />
              </a>
            </div>
            <div class="menu_item_info">
              <h3>
                <a href="#" title="CFM4">Americano Đá</a>
              </h3>
              <div class="price_product_item">55.000 đ</div>
            </div>
          </div>
          <div class="menu_item col-sm-6 col-md-4 col-lg-4 col-12">
            <div class="menu_item_image">
              <a href="##">
                <img
                  src="https://lh3.googleusercontent.com/pw/AMWts8Ck7um1N02yFFaGDJyP4SZPpZZNE1uvCDxNH5DrRjmCwD2xmoxzPXJ1y3wVLkMhjGiaXHrcmbw8RxdycafiIPaQ32c0KjnLs1DK2Yjakxq15ijdNq1Q5OQOPMwXTF5EzYjHbMZLtJsTb1LbsVZhVe_r=w480-h480-s-no?authuser=0"
                  alt=""
                />
              </a>
            </div>
            <div class="menu_item_info">
              <h3>
                <a href="#" title="CFM5">Cappuccino Nóng</a>
              </h3>
              <div class="price_product_item">55.000 đ</div>
            </div>
          </div>
          <div class="menu_item col-sm-6 col-md-4 col-lg-4 col-12">
            <div class="menu_item_image">
              <a href="##">
                <img
                  src="https://lh3.googleusercontent.com/pw/AMWts8CRlN6DiNvua2_DacfcT-i1hC5YwkX1L1UjwhcsXCnlJvCNS5LiYrLFD6L3HSf8nHIAuVHWOqo2gIhDgae3jkkZzHhlQBIWLjowJ4nMEPAdgKLFpAeyKlquW1OQwqo0PQVp4vDyV_M1-89o64QY-IQm=w480-h480-s-no?authuser=0"
                  alt=""
                />
              </a>
            </div>
            <div class="menu_item_info">
              <h3>
                <a href="#" title="CFM6">Espresso Đá</a>
              </h3>
              <div class="price_product_item">55.000 đ</div>
            </div>
          </div>
          <div class="menu_item col-sm-6 col-md-4 col-lg-4 col-12">
            <div class="menu_item_image">
              <a href="##">
                <img
                  src="https://lh3.googleusercontent.com/pw/AMWts8BjCVhu3Y8KBj_vwbHCGgANhZkI3E88Ac2GJfVatHn6ul-AOh1m-RRSbcQAxNksHB63-T46pbMY4KRIlixPKXYqx8jSER0vHKCUYV6K8j4rLe0krOLyxw3uRXQY47Bg1qcaRwjnE5uqWtHMVNkSYb1C=w480-h480-s-no?authuser=0"
                  alt=""
                />
              </a>
            </div>
            <div class="menu_item_info">
              <h3>
                <a href="#" title="CFM7">Espresso Nóng</a>
              </h3>
              <div class="price_product_item">55.000 đ</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let category = document.querySelectorAll(".category");
  category.forEach((element) => { element.addEventListener("click", function ()
  { category.forEach((e) => e.classList.remove("active"));
  this.classList.add("active"); }); });
</script>
