 <section class="py-5">
      <div class="container">
        <div class="row gx-5">
          <aside class="col-lg-6">
            <div class="border rounded-4 mb-3 d-flex justify-content-center">
                <img
                  style="max-width: 100%; max-height: 100vh; margin: auto"
                  class="rounded-4 fit"
                  src="https://lh3.googleusercontent.com/pw/AMWts8A23WqLovg7HhvNXhJ8nuqAkK6RiM2TIDkjzk9YLBL3Lhp_-mS7MZfm0DKZL73LKMqu0iyzPDi3oJTvTIic1J9lklR3BsSsob78eZyR0EyvaOtTFXjh1L2x3RxpTn1vze4cIcyCvmP-Yg423ci-NY4A=w480-h480-s-no?authuser=0"
                />
              </a>
            </div>
           
            <!-- thumbs-wrap.// -->
            <!-- gallery-wrap .end// -->
          </aside>
          <main class="col-lg-6">
            <div class="ps-lg-3">
              <h4 class="title text-dark pb-3">
                Cà phê sữa đá đặc biệt
              </h4>

              <div class="mb-3">
                <span class="h5">39.000 VNĐ</span>
                <span class="text-muted">/cốc</span>
              </div>

              <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error doloribus eligendi provident veritatis nulla autem ducimus dolore molestiae odit quo aperiam officia, iste asperiores officiis laudantium beatae sed maiores in.
              </p>

              <div class="row">
                <dt class="col-3">Loại:</dt>
                <dd class="col-9">Cà Phê</dd>

                <dt class="col-3">Xuất xứ:</dt>
                <dd class="col-9">Việt Nam</dd>

                <dt class="col-3">Nguyên liệu: </dt>
                <dd class="col-9">Cafe, Sữa, Đá</dd>

              </div>

              <hr />

              <div class="row mb-4">
                <div class="col-md-4 col-12 pb-3">
                  <label class="mb-2 fw-bolder">Chọn Size</label>
                  <select
                    class="form-select border border-secondary"
                    style="height: 35px"
                  >
                    <option>Nhỏ (S)</option>
                    <option>Vừa (M)</option>
                    <option>Lớn (L)</option>
                  </select>
                </div>
                <!-- col.// -->
                <div class="toppings col-md-12 col-12 mb-3 row-cols-3">
                  <label class="col-12 mb-2 d-block fw-bolder ">Chọn Topping</label>
            <div class="topping"> Kem Phô Mai Macchiato</div>
            <div class="topping"> Shot Espresso</div>
            <div class="topping"> Trân châu trắng</div>
            <div class="topping"> Sốt Caramel</div>
            <div class="topping"> Thạch Cà Phê</div>
                </div>
              </div>
              <div class="purchase">
              <a href="#" class="btn shadow-1">
                <i class="me-1 fa fa-shopping-basket"></i> Mua hàng
              </a>
              </div>
            </div>
          </main>
        </div>
      </div>
    </section>
    <!-- content -->
      <!-- Sản phẩm liên quan -->
      <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Sản phẩm liên quan</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <a href="" class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://lh3.googleusercontent.com/pw/AMWts8AWFAIM4zMFftQ7VvGsl8Zbk9hmVIRXEftlfTc7tqonbW6m_ST9TPadLGaiJFYo0bfM4CGfgIajoxjXSNbPuwC89f9-t_Yz6Y5Z2Xt3ODp5gcuoichkoByQpd0i-O4FFFdQh_a-3DFmRz06NM6lt2G3=w480-h480-s-no?authuser=0" alt="...">
                            <!-- Product details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Đen đá</h5>
                                    <!-- Product price-->
                                    39.000 đ
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="" class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://lh3.googleusercontent.com/pw/AMWts8D9zrB15odq9HVaK8Zm_4He4ya1yK0lNi3Mg6hyKtCfPd7Ohwr_wT_ovNIdn1YfGPgHYY2T9_UU-Bzq--OksPv8zDUZCZct-hbtIRx9fFraXi8I1YzEUVtU--XQnReQr8HYGRJ9taaKkq6ZEqXi8xyn=w480-h480-s-no?authuser=0" alt="...">
                            <!-- Product details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Bạc Sỉu</h5>
                                    <!-- Product price-->
                                    <span class="text-muted ">29.000 đ</span>
                        
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="" class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://lh3.googleusercontent.com/pw/AMWts8A23WqLovg7HhvNXhJ8nuqAkK6RiM2TIDkjzk9YLBL3Lhp_-mS7MZfm0DKZL73LKMqu0iyzPDi3oJTvTIic1J9lklR3BsSsob78eZyR0EyvaOtTFXjh1L2x3RxpTn1vze4cIcyCvmP-Yg423ci-NY4A=w480-h480-s-no?authuser=0" alt="...">
                            <!-- Product details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Caramel Machiato đá</h5>
                                    <!-- Product price-->
                                    <span class="text-muted">55.000 đ</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col mb-5">
                        <a href="" class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://lh3.googleusercontent.com/pw/AMWts8AZX3V_o0f35ocYP7qMh3EM2JFpIxb3ldpDR6xXFUMD96-fvhXMqYFuliG9g-Noc44o8W2TD71xSw-5ksOIkFKtYtGMZ7l74CsTCb2dUr0K11BmxH0EaLeGKWWjyuqd0wNbvdnQomDd-Rrh8ArYh1ps=w480-h480-s-no?authuser=0" alt="...">
                            <!-- Product details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Lette nóng</h5>
                                    <!-- Product price-->
                                    55.000 đ
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>