
<div class="container pageshop h-100">
  <h2>Danh sách cửa hàng</h2>
  <table class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Cửa hàng</th>
        <th>Địa chỉ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>FourWay-123 Đường A, Quận 1, TP.HCM</td>
        <td>123 Đường A, Quận 1, TP.HCM</td>
      </tr>
      <tr>
        <td>2</td>
        <td>FourWay-123 Đường B, Quận 1, TP.HCM</td>
        <td>456 Đường B, Quận 2, TP.HCM</td>
      </tr>
      <tr>
        <td>3</td>
        <td>FourWay-123 Đường C, Quận 1, TP.HCM</td>
        <td>789 Đường C, Quận 3, TP.HCM</td>
      </tr>
    </tbody>
  </table>
</div>