
<div class="container pageshop h-100">
  <h2>Danh sách cửa hàng</h2>
  <table class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Cửa hàng</th>
        <th>Địa chỉ</th>
        <th>Quận/TP</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>FourWay - 123 Hogwarts</td>
        <td>123 Hogwarts, London</td>
        <td>England</td>
      </tr>
      <tr>
        <td>2</td>
        <td>FourWay - 512 Mã Phì Lèng</td>
        <td>512 Mã Phì Lèng, Quận 2</td>
        <td>Namek</td>
      </tr>
      <tr>
        <td>3</td>
        <td>FourWay - 123 Đường C</td>
        <td>789 Đường C, Quận 3</td>
        <td>Konoha</td>
      </tr>
      <tr><td>4</td><td>FourWay - 66 Trần Đại Nghĩa</td><td>66 Trần Đại Nghĩa, P. Bách Khoa</td><td>Q. Hai Bà Trưng</td></tr><tr><td>5</td><td>FourWay  &#8211; 259A Bạch Mai</td><td>259A Bạch Mai, P. Bạch Mai</td><td>Q, Hai Bà Trưng</td></tr><tr><td>6</td><td>FourWay  &#8211; 59 Tôn Đức Thắng</td><td>59 Tôn Đức Thắng, P. Quốc Tử Giám</td><td>Q. Đống Đa</td></tr><tr><td>7</td><td>FourWay - TTTM Times City</td><td>Gian hàng K9,K10 đường thanh niên,hầm B1, toà T8, TTTM Times city</td><td>Q. Hai Bà Trưng</td></tr>
      <tr><td>8</td><td>FourWay  &#8211; 331 Kim Mã</td><td>331 Kim Mã, P. Giảng Võ</td><td>Q. Ba Đình</td></tr><tr><td>9</td><td>FourWay - 11 Đào Tấn</td><td>11 Đào Tấn, P. Cống vị</td><td>Q. Ba Đình</td></tr><tr><td>10</td><td>FourWay  &#8211; 25 Lê Đại Hành</td><td>25 Lê Đại Hành, P. Lê Đại Hành</td><td>Q. Hai Bà Trưng</td></tr><tr><td>11</td><td>FourWay  &#8211; TTTM Aeon Mall Long Biên</td><td>Tầng 3, TTTM Aeon Mall Long Biên, 27 Cổ Linh, P. Thạch bàn</td><td>Q. Long Biên</td></tr>
      <tr><td>10</td><td>FourWay  &#8211; TTTM Vincom Nguyễn Chí Thanh</td><td>Tầng BH số 02 Vincom Nguyễn Chí Thanh, P. Láng Thượng</td><td>Q. Đống Đa</td></tr><tr><td>11</td><td>FourWay  &#8211; 114 Cầu Gỗ</td><td>114 Cầu Gỗ , P. Hàng Đào</td><td>Q. Hoàn Kiếm</td></tr><tr><td>12</td><td>FourWay  &#8211; 320 Cầu Giấy</td><td>320 Cầu Giấy, P. Quan Hoa</td><td>Q. Cầu Giấy</td></tr><tr><td>13</td><td>FourWay  &#8211; 19 Khâm Thiên</td><td>19 Khâm Thiên, P. Khâm Thiên</td><td>Q. Đống Đa</td></tr>
    </tbody>
  </table>
</div>