<div class="container-fluid account">
    <div class="beans">
        <div class="set">
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center vh-100">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="login">
                        <h2 class="login__title">Đăng nhập</h2>
                        <form id="signin__form" class="login__form">
                            <div class="login__form-group">
                                <input type="tel" id="username" name="username"
                                    class="login__input login__input--username" required>
                                <label for="username">Username</label>
                            </div>
                            <div class="login__form-group">
                                <input type="password" id="password" name="password"
                                    class="login__input login__input--password" required>
                                <label for="password">Password</label>
                            </div>
                            <div class="login__form-group">
                                <button type="button" class="btn5 btn5-full" onclick="signin()">Đăng nhập</button>
                            </div>
                            <div class="login__form-next">
                                <a href="/forgetpassword">Quên mật khẩu</a>
                                <a href="#"><i class="fa-solid fa-house"></i></a>
                                <a href="/signup">Đăng ký</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>