<div class="container-fluid account">
    <div class="beans">
        <div class="set">
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="login">
                            <h2 class="login__title">SIGN IN</h2>
                            <form class="login__form">
                                <div class="login__form-group">                          
                                    <input type="tel" id="phone" class="login__input login__input--phone" required>
                                    <label for="phone">Phone</label>
                                </div>
                                <div class="login__form-group">
                                    <input type="password" id="password" class="login__input login__input--password"  required>
                                    <label for="phone">Passwork</label>
                                </div>
                                <div class="login__form-group">
                                    <button type="submit" class="btn5 btn5-full">Sign in</button>
                                </div>
                                <div class="login__form-next">
                                    <a href="#">Forget password</a>
                                    <a href="/signup">Sign up</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>