<div class="container-fluid account">
    <div class="beans">
        <div class="set">
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="login">
                        <h2>Sign-up</h2>
                        <form class="login__form">
                            <div class="login__form-group">
                                <input type="tel" id="phone" required>
                                <label for="phone">Phone</label>
                            </div>
                            <div class="login__form-group">
                                <input type="text" id="user_name" required>
                                <label for="phone">Username</label>
                            </div>
                            <div class="login__form-group">
                                <input type="text" id="first_name" required>
                                <label for="phone">First_name</label>
                            </div>
                            <div class="login__form-group">
                                <input type="text" id="last_name" required>
                                <label for="phone">Last_name</label>
                            </div>
                            <div class="login__form-group">
                                <input type="password" id="password" minlength="8" required>
                                <label for="phone">Password</label>
                            </div>
                            <div class="login__form-group">
                                <input type="password" id="confirm_password" minlength="8" required>
                                <label for="phone">Confirm_password</label>
                            </div>
                            <div class="login__form-group">
                                <button type="submit" class="btn5 btn5-full">Sign-up</button>
                            </div>
                            <div class="login__form-next">
                                <a href="/signin">Sign-in</a>
                                <a href="/home"><i class="fa-solid fa-house"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>