<div class="container-fluid account">
    <div class="beans">
        <div class="set">
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
            <div><i style="color:red;" class="fa-solid fa-heart"></i></div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="login user_info">
                        <h2>Thông tin tài khoản</h2>
                        <form id="user_detail__form" class="login__form user">
                            <div class="login__form-group user__form row row-cols-2">
                                <p class="col-4 col-lg-3 col-sm-12 col-xs-12">TÀI KHOẢN: </p>
                                <input class="user_info col-8 col-sm-12 col-xs-12" type="text" id="user_name" name="username" disabled required />
                                {{!-- <label for="username">Tài khoản</label> --}}
                            </div>
                            <div class="login__form-group user__form row row-cols-2">
                                <p class="col-4 col-lg-3 col-sm-12 col-xs-12">TÊN</p>
                                <input class="user_info col-8 col-sm-12 col-xs-12" type="text" id="first_name" name="firstname" required />
                            </div>
                            <div class="login__form-group user__form row row-cols-2">
                                <p class="col-4 col-lg-3 col-sm-12 col-xs-12">HỌ TÊN ĐỆM</p>
                                <input class="user_info col-8 col-sm-12 col-xs-12" type="text" id="last_name" name="lastname" required />
                            </div>
                            <div class="login__form-group user__form row row-cols-2">
                                <p class="col-4 col-lg-3 col-sm-12 col-xs-12">ĐIỆN THOẠI</p>
                                <input class="user_info col-8 col-sm-12 col-xs-12" type="tel" id="phone" pattern="[0-9]{10}" name="phone" required />
                            </div>
                            <div class="login__form-group user__form row row-cols-2">
                                <p class="col-4 col-lg-3 col-sm-12 col-xs-12">EMAIL</p>
                                <input class="user_info col-8 col-sm-12 col-xs-12" type="email" id="email" name="email" required />
                            </div>
                            <div class="login__form-group user__form row row-cols-2">
                                <button type="button" class="btn5 btn5-full" onclick="updateAccount()">Xác nhận</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function changeUserInfo() {
        let accountCookie = document.cookie.split('; ')
            .find(row => row.startsWith('currentUser='))
            .split('=')[1].replace(/25/g, "");

        const account = JSON.parse(decodeURIComponent(accountCookie))
        console.log(account);
        document.getElementById("user_name").value=account.username
        document.getElementById("user_name").disabled=true
        document.getElementById("first_name").value=account.firstname
        document.getElementById("last_name").value=account.lastname
        document.getElementById("phone").value=account.phone
        document.getElementById("email").value=account.email

    }
    changeUserInfo()
</script>